@media (max-width: 767px){
     header h1 {
    font-size: 2.7em;
    color: #ffffff;
}
nav a {
   
    font-size: 2.7em;
}
.game-description h1 {
    font-size: 2.2em;
}
.game-description p {
    font-size: 1.5em;
}
.game-description {
    max-width: 100%;
    margin: auto;
    padding: 2rem;
    text-align: center;
}
.sponsor-section {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}
.campaign {
    font-family: 'MetalGothic-DemoVersion-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    line-height: 1.3;
    margin-top: 52px;
    border-radius: 12px;
    text-align: center;
 
}
video{
    width: 90%;
 }
 .sponsor-section h2 {
    font-size: 2.2em;
 }
.lol {
    font-size: 1.5em;
}
.campaign h2 {
    font-size: 2.2em;
}
.campaign-goal {
    font-size: 1.5em;
}
.opus {
     font-size: 1.7em;
}

     .timeline li, .sponsor-benefits li {
    margin: 0.5rem 0;
    font-size: 1.4rem;
}
.cta {
    font-size: 1.4em;
}
.opus::before, .opus::after {
    content: "";
    display: inline-block;
    width: 12%;
}
.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    padding-bottom: 25px;
}
body{
    height: 100%;
}
}
